/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./app/pages/blogs/detail/detail.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.detail_detail_section__deoeT .detail_detail_top__ssG8p {
  width: 90%;
  margin: 0 auto;
}
.detail_detail_section__deoeT .detail_detail_top__ssG8p img {
  width: 100%;
}
.detail_detail_section__deoeT .detail_detail_top__ssG8p .detail_for_mobile___1tQ1 {
  display: none;
}
.detail_detail_section__deoeT .detail_detail_top__ssG8p h3 {
  color: #202D3F;
  font-size: 32px;
}
.detail_detail_section__deoeT .detail_writer__mdiBX {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #E1F1FC;
  border-bottom: 1px solid #E1F1FC;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail_detail_section__deoeT .detail_writer__mdiBX figure {
  display: flex;
  align-items: center;
  gap: 16px;
}
.detail_detail_section__deoeT .detail_writer__mdiBX figure span {
  color: #B9BDC3;
}
.detail_detail_section__deoeT .detail_writer__mdiBX > p {
  font-size: 17px;
  color: #5FB8F0;
}
.detail_detail_section__deoeT .detail_writer__mdiBX > p span {
  color: #B9BDC3;
  margin-left: 16px;
}
.detail_detail_section__deoeT .detail_text__VE1w5 {
  width: 90%;
  margin: 0 auto;
}
.detail_detail_section__deoeT .detail_text__VE1w5 div > p {
  color: #58626F;
}

@media (max-width: 380px) {
  .detail_detail_section__deoeT {
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .detail_detail_section__deoeT .detail_detail_top__ssG8p .detail_for_mobile___1tQ1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .detail_detail_section__deoeT .detail_detail_top__ssG8p .detail_for_mobile___1tQ1 span {
    margin: 0;
  }
  .detail_detail_section__deoeT .detail_detail_top__ssG8p .detail_for_mobile___1tQ1 span:nth-child(1) {
    color: #5FB8F0;
  }
  .detail_detail_section__deoeT .detail_detail_top__ssG8p h3 {
    font-size: 21px;
  }
  .detail_detail_section__deoeT .detail_writer__mdiBX {
    width: 95%;
    flex-direction: column-reverse;
    justify-content: space-between;
    border-top: 0;
    border-bottom: 0;
  }
  .detail_detail_section__deoeT .detail_writer__mdiBX figure {
    width: 95%;
    border-bottom: 1px solid #E1F1FC;
    border-top: 1px solid #E1F1FC;
    margin: 0;
  }
  .detail_detail_section__deoeT .detail_writer__mdiBX figure :last-child {
    margin-left: auto;
  }
  .detail_detail_section__deoeT .detail_writer__mdiBX figure span {
    font-size: 14px;
  }
  .detail_detail_section__deoeT .detail_writer__mdiBX figure p {
    display: block;
  }
  .detail_detail_section__deoeT .detail_writer__mdiBX figure p img {
    width: 100%;
  }
  .detail_detail_section__deoeT .detail_writer__mdiBX p {
    display: none;
  }
  .detail_detail_section__deoeT .detail_text__VE1w5 div p {
    font-size: 14px;
  }
}
