.footer{
    margin-left: 70px;
    .logogroup{
        display: flex;
        justify-content: space-between;
        .logo{
            margin-bottom: 10px;
            img{
                margin-bottom: 15px;
            }
            .sns{
                img{
                    margin-right: 30px;
                }
            }
        }  
        .footermenugroup{
            display: flex;
            justify-content: flex-end;
            .footermenu{
                display: flex;
                flex-direction: column;
                margin-right: 70px;
                b{
                    margin-bottom: 10px;
                }
                a{
                    margin-bottom: 10px;
                    text-decoration: none;
                    color: black;
                }
            }
            .footertopLink{
                text-decoration: none;
                list-style: none;
                color: #9BD2F5;
                transition: 2s;
                display: flex;
                flex-direction: column;
                align-items: center;
                scroll-behavior: smooth;
                .footertop{
                    transform: rotateX(360deg)rotateZ(270deg);
                    .footerstraight{
                        transform: rotateZ(90deg);
                        color: #9BD2F5;
                    }
                }
                .footerup{
                    writing-mode: vertical-rl;
                    transform: rotateZ(180deg);
                }
            }
        }
    } 
}
