.customer_section {
    .customer1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            font-size: 32px;
            color: #202D3F;
            margin: 0;
        }

        p {
            width: 45%;
            font-size: 17px;
            color: #B9BDC3;
        }
    }

    .customer2 {
        width: 95%;
        margin: 0 auto;

        .numbox {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 16px;

            li {
                cursor: pointer;
                box-shadow: 1px 1px 1px 1px #f2efef;
                border-radius: 10px;
                text-align: center;
                padding: 10px 16px;

                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }

                span {
                    display: block;
                    font-size: 17px;
                    color: #202D3F;
                }

                >p {
                    position: relative;
                    font-size: 14px;
                    color: #B2B7BD;

                    &::before {
                        position: absolute;
                        top: -18px;
                        left: -5px;
                        display: block;
                        content: url('../../../public/customers/“.png');
                    }
                }

                .star {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    justify-content: flex-end;

                    img {
                        height: 20px;
                    }
                }
            }

            .num1 {
                width: 350px;
                height: 240px;
            }

            .num2 {
                width: 220px;
                height: 288px;
            }

            .num3 {
                width: 502px;
                height: 240px;
            }
        }
    }
}