.solution_section {
    .solution1 {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            margin-bottom: 16px;
            font-size: 32px;
            color: #202D3F;
        }

        p {
            width: 45%;
            font-size: 17px;
        }
    }

    .solution2 {
        nav {
            width: 95%;
            margin: 0 auto;
            display: flex;
            gap: 50px;

            a {
                cursor: pointer;
                font-size: 24px;
                padding: 10px 16px;
                color: #4D5765;
            }
            a.active{
                border-bottom: 3px solid #5FB8F0;
            }
        }
    }

    .soultion3 {
        div {
            width: 95%;
            margin: 0 auto;

            ul {
                margin: 0 auto;
                display: flex;
                flex-wrap: wrap;
                gap: 60px;
                li {
                    
                    width: 18%;
                    padding: 16px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;

                    img {
                        width: 20%;
                    }
                    span{
                        font-size: 17px;
                        color: #202D3F;
                    }
                    p{
                        font-size: 14px;
                        color: #B2B7BD;

                    }
                    a{
                        width: 100%;
                        font-size: 14px;
                        color: #5FB8F0;
                        border-top: 1px solid #E1F1FC;
                        border-bottom: 1px solid #E1F1FC;
                        padding: 11px 10px;
                        text-align: center;
                    }
                }
                .more{
                    background-color: #202D3F;
                    color: white;
                    padding: 18px 16px;
                    >span{
                        color: white;
                    }
                }
            }
        }
    }
}