/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./app/pages/header/header.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header_header__TgNnR {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_header__TgNnR .header_menu__Kfr_L {
  margin-left: 55%;
}
.header_header__TgNnR .header_menu__Kfr_L a {
  text-decoration: none;
  color: black;
  margin-right: 15px;
}
.header_header__TgNnR .header_menu__Kfr_L > :nth-child(7) {
  border-radius: 5px;
  padding: 12px 25px;
  background-color: #1C9AEA;
  color: white;
}
.header_header__TgNnR .header_menubar__XR9nI {
  display: none;
}
.header_header__TgNnR .header_menu1__Gtv0U {
  display: none;
}

@media (max-width: 390px) {
  .header_header__TgNnR {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DEE5EB;
  }
  .header_header__TgNnR .header_menu__Kfr_L {
    margin: 10px 25px;
  }
  .header_header__TgNnR .header_menu__Kfr_L a {
    display: none;
    text-decoration: none;
    color: black;
    margin-right: 15px;
  }
  .header_header__TgNnR .header_menu__Kfr_L > :nth-child(7) {
    border-radius: 5px;
    padding: 12px 25px;
    background-color: #1C9AEA;
    color: white;
  }
  .header_header__TgNnR .header_menubar__XR9nI {
    display: block;
    width: 45px;
  }
  .header_header__TgNnR .header_menu1__Gtv0U {
    display: none;
  }
  .header_menuOptionsOverlay__Dkvzv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .header_menuOptions___JG3C {
    width: 100%;
    height: 100%;
    background: white;
    padding: 20px;
    border-radius: 10px;
  }
  .header_menuOptions___JG3C div {
    margin: 20px;
  }
  .header_menuOptions___JG3C > :nth-child(7) {
    width: 100%;
    background-color: #1C9AEA;
    padding: 20px;
    color: white;
    text-align: center;
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./app/pages/footer/footer.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.footer_footer__oBz2j {
  margin-left: 70px;
}
.footer_footer__oBz2j .footer_logogroup__53FSy {
  display: flex;
  justify-content: space-between;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ {
  text-align: center;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ .footer_footermediaup__TuvXx {
  color: #9BD2F5;
  display: none;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ .footer_logo__vhVIH {
  display: flex;
  align-items: flex-start;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ .footer_logo__vhVIH img {
  margin: 0 35px 10px 0;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ .footer_logo__vhVIH .footer_sns__rfN2V img {
  margin-right: 30px;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq {
  display: flex;
  justify-content: flex-end;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footermenu__lyss0 {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footermenu__lyss0 b {
  margin-bottom: 10px;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footermenu__lyss0 a {
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c {
  text-decoration: none;
  list-style: none;
  color: #9BD2F5;
  transition: 2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footertop__nAQfC {
  transform: rotateX(360deg) rotateZ(270deg);
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footertop__nAQfC .footer_footerstraight__RILJE {
  transform: rotateZ(90deg);
  color: #9BD2F5;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footerup__OfkvD {
  writing-mode: vertical-rl;
  transform: rotateZ(180deg);
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footermediaup__TuvXx {
  display: none;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footerfooteraccodian__dtLv_ {
  display: none;
}

@media (max-width: 390px) {
  .footer_footer__oBz2j {
    margin-left: 20px;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ {
    text-align: center;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ .footer_footermediaup__TuvXx {
    display: block;
    color: #9BD2F5;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ .footer_logo__vhVIH {
    display: flex;
    align-items: flex-start;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ .footer_logo__vhVIH img {
    margin: 0 35px 10px 0;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ .footer_logo__vhVIH .footer_sns__rfN2V img {
    margin-right: 30px;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq {
    display: none;
    justify-content: flex-end;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footermenu__lyss0 {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footermenu__lyss0 b {
    margin-bottom: 10px;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footermenu__lyss0 a {
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footertop__nAQfC {
    display: none;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footerup__OfkvD {
    display: none;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footermediaup__TuvXx {
    display: flex;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footerfooteraccodian__dtLv_ {
    display: flex;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footerfooteraccodian__dtLv_ .footer_footeraccodiangroup__PLbva .footer_footeraccodiantitle__yW9QA {
    font-weight: bold;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footerfooteraccodian__dtLv_ .footer_footeraccodiangroup__PLbva span {
    display: flex;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footerfooteraccodian__dtLv_ .footer_footeraccodiangroup__PLbva span a {
    margin-right: 20px;
  }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./app/pages/Contact/contactus.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.contactus_contact__JNVjN {
  width: 50%;
  height: 100%;
  margin: 80px 0 300px 50px;
}
.contactus_contact__JNVjN .contactus_contactTalk___zSdp b {
  font-size: 32px;
}
.contactus_contact__JNVjN .contactus_contactTalk___zSdp .contactus_contactTalktxt__bwIfd {
  font-size: 17px;
}
.contactus_contact__JNVjN .contactus_contactTalkimg__rjnPR {
  display: flex;
}
.contactus_contact__JNVjN .contactus_contactTalkimg__rjnPR .contactus_imggroup__A_YBW {
  display: flex;
  margin: 30px 50px 0px 0px;
}
.contactus_contact__JNVjN .contactus_contactTalkimg__rjnPR .contactus_imggroup__A_YBW img {
  width: 50px;
  margin-right: 20px;
}
.contactus_contact__JNVjN .contactus_contactTalkimg__rjnPR .contactus_imggroup__A_YBW .contactus_imgtxt__SXCOi {
  font-size: 17px;
}

.contactus_contactUs__FF7rS {
  position: absolute;
  right: 3%;
  top: 12%;
  box-shadow: 1px 1px 1px 5px #F9F9F9;
  padding: 40px;
}
.contactus_contactUs__FF7rS b {
  font-size: 28px;
}
.contactus_contactUs__FF7rS form .contactus_contactUsname__UK_yz {
  display: flex;
}
.contactus_contactUs__FF7rS form .contactus_contactUsname__UK_yz b {
  font-size: 14px;
  flex-direction: column;
  display: flex;
}
.contactus_contactUs__FF7rS form .contactus_contactUsname__UK_yz input {
  margin-top: 5px;
  padding: 15px;
  margin-right: 20px;
  border-radius: 5px;
  border: 1px solid #E5E5E5;
}
.contactus_contactUs__FF7rS .contactus_contactUsinfo__40I8z b {
  font-size: 14px;
  flex-direction: column;
  display: flex;
}
.contactus_contactUs__FF7rS .contactus_contactUsinfo__40I8z b input {
  margin: 10px 0;
  padding: 15px;
  margin-right: 20px;
  border-radius: 5px;
  border: 1px solid #E5E5E5;
}
.contactus_contactUs__FF7rS button {
  width: 96%;
  margin-top: 5px;
  padding: 15px;
  margin-right: 20px;
  background-color: #1C9AEA;
  color: white;
  font-size: 17px;
  border: 0;
  border-radius: 5px;
}

.contactus_line__hSa4v {
  border-bottom: 1px solid #D4EBFA;
  margin: 30px 0;
}

.contactus_footertopLink__OyDSa {
  bottom: 10%;
}

@media (max-width: 390px) {
  .contactus_header_header__TgNnR__Sxcku {
    background-color: white;
  }
  .contactus_contact__JNVjN {
    width: 50%;
    height: 100%;
    margin: 80px 0 300px 50px;
  }
  .contactus_contact__JNVjN .contactus_contactTalk___zSdp {
    display: none;
  }
  .contactus_contact__JNVjN .contactus_contactTalkimg__rjnPR {
    display: none;
  }
  .contactus_contactUs__FF7rS {
    position: absolute;
    right: -5%;
    width: 90%;
    top: 8%;
    box-shadow: none;
    padding: 40px;
  }
  .contactus_contactUs__FF7rS b {
    font-size: 28px;
  }
  .contactus_contactUs__FF7rS .contactus_contactUstxt__V_jph br {
    display: none;
  }
  .contactus_contactUs__FF7rS form .contactus_contactUsname__UK_yz {
    display: flex;
    flex-direction: column;
  }
  .contactus_contactUs__FF7rS form .contactus_contactUsname__UK_yz b {
    font-size: 14px;
    flex-direction: column;
    display: flex;
  }
  .contactus_contactUs__FF7rS form .contactus_contactUsname__UK_yz input {
    margin-top: 5px;
    padding: 15px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
  }
  .contactus_contactUs__FF7rS .contactus_contactUsinfo__40I8z b {
    font-size: 14px;
    flex-direction: column;
    display: flex;
  }
  .contactus_contactUs__FF7rS .contactus_contactUsinfo__40I8z b input {
    margin: 10px 0;
    padding: 15px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
  }
  .contactus_contactUs__FF7rS button {
    width: 96%;
    margin-top: 5px;
    padding: 15px;
    margin-right: 20px;
    background-color: #1C9AEA;
    color: white;
    font-size: 17px;
    border: 0;
    border-radius: 5px;
  }
  .contactus_line__hSa4v {
    border-bottom: 1px solid #D4EBFA;
    padding: 180px;
  }
  .contactus_footertopLink__OyDSa {
    bottom: 10%;
  }
}
