/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./app/pages/header/header.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header_header__TgNnR {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_header__TgNnR .header_menu__Kfr_L {
  margin-left: 44%;
  display: flex;
  align-items: center;
}
.header_header__TgNnR .header_menu__Kfr_L a {
  text-decoration: none;
  color: black;
  margin: 0 15px 0px;
}
.header_header__TgNnR .header_menu__Kfr_L > :nth-child(7) {
  border-radius: 5px;
  padding: 12px 25px;
  background-color: #1C9AEA;
  color: white;
}
.header_header__TgNnR .header_menubar__XR9nI {
  display: none;
}
.header_header__TgNnR .header_menu1__Gtv0U {
  display: none;
}

.header_menuItem__p4Q4g {
  text-align: center;
  position: relative;
}
.header_menuItem__p4Q4g .header_subMenu__CVJCs {
  display: none;
  position: absolute;
  top: 100%;
  left: -100%;
  width: 300px;
  height: 150px;
  background-color: #efebeb;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px white;
  padding: 10px;
}
.header_menuItem__p4Q4g .header_subMenu__CVJCs a {
  color: rgb(4, 4, 4);
}
.header_menuItem__p4Q4g:hover .header_subMenu__CVJCs {
  display: block;
}

.header_menuOptionsOverlay__Dkvzv {
  display: none;
}

@media (max-width: 390px) {
  .header_header__TgNnR {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }
  .header_header__TgNnR .header_menu__Kfr_L {
    margin: 10px 25px;
  }
  .header_header__TgNnR .header_menu__Kfr_L a {
    display: none;
    text-decoration: none;
    color: black;
    margin-right: 15px;
  }
  .header_header__TgNnR .header_menu__Kfr_L > :nth-child(7) {
    border-radius: 5px;
    padding: 12px 25px;
    background-color: #1C9AEA;
    color: white;
  }
  .header_header__TgNnR .header_menubar__XR9nI {
    display: block;
    width: 45px;
    margin-right: 10px;
  }
  .header_header__TgNnR .header_menu1__Gtv0U {
    display: none;
  }
  .header_menuOptionsOverlay__Dkvzv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .header_menuOptions___JG3C {
    width: 100%;
    height: 100%;
    background: white;
    padding: 20px;
    border-radius: 10px;
  }
  .header_menuOptions___JG3C div {
    margin: 20px;
  }
  .header_menuOptions___JG3C > :nth-child(7) {
    width: 90%;
    background-color: #1C9AEA;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin: 0px;
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./app/pages/footer/footer.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.footer_footer__oBz2j {
  margin-left: 70px;
}
.footer_footer__oBz2j .footer_logogroup__53FSy {
  display: flex;
  justify-content: space-between;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ {
  text-align: center;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ .footer_footermediaup__TuvXx {
  color: #9BD2F5;
  display: none;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ .footer_logo__vhVIH {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ .footer_logo__vhVIH img {
  margin: 0 35px 10px 0;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ .footer_logo__vhVIH .footer_sns__rfN2V img {
  margin-right: 30px;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq {
  display: flex;
  justify-content: flex-end;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footermenu__lyss0 {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footermenu__lyss0 b {
  margin-bottom: 10px;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footermenu__lyss0 a {
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c {
  text-decoration: none;
  list-style: none;
  color: #9BD2F5;
  transition: 2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footertop__nAQfC {
  transform: rotateX(360deg) rotateZ(270deg);
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footertop__nAQfC .footer_footerstraight__RILJE {
  transform: rotateZ(90deg);
  color: #9BD2F5;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footerup__OfkvD {
  writing-mode: vertical-rl;
  transform: rotateZ(180deg);
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footermediaup__TuvXx {
  display: none;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footerfooteraccodian__dtLv_ {
  display: none;
}

@media (max-width: 390px) {
  .footer_footer__oBz2j {
    margin-left: 20px;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ {
    text-align: center;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ .footer_footermediaup__TuvXx {
    display: block;
    color: #9BD2F5;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ .footer_logo__vhVIH {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ .footer_logo__vhVIH img {
    margin: 0 35px 10px 0;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ .footer_logo__vhVIH .footer_sns__rfN2V img {
    margin-right: 30px;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq {
    display: none;
    justify-content: flex-end;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footermenu__lyss0 {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footermenu__lyss0 b {
    margin-bottom: 10px;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footermenu__lyss0 a {
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footertop__nAQfC {
    display: none;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footerup__OfkvD {
    display: none;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footermediaup__TuvXx {
    display: flex;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footerfooteraccodian__dtLv_ {
    display: flex;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footerfooteraccodian__dtLv_ .footer_footeraccodiangroup__PLbva .footer_footeraccodiantitle__yW9QA {
    font-weight: bold;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footerfooteraccodian__dtLv_ .footer_footeraccodiangroup__PLbva span {
    display: flex;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footerfooteraccodian__dtLv_ .footer_footeraccodiangroup__PLbva span a {
    margin-right: 20px;
  }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./app/pages/products/products.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
.products_Servicesgroup__ARNrS {
  background-color: #DEE5EB;
  padding: 70px;
}
.products_Servicesgroup__ARNrS .products_Services__rVMJ_ {
  padding: 100px;
  display: flex;
  margin-right: 310px;
  flex-direction: column;
  /*  @keyframes Services{ 
       0%{transform: translateX(0%);}
       100%{transform: translateX(-100%);}
   } */
}
.products_Servicesgroup__ARNrS .products_Services__rVMJ_ .products_Servicestext__y33i2 {
  display: flex;
  width: 100%;
  /* white-space: nowrap; 
  animation-name: Services;
  animation-duration: 10s;
  animation-iteration-count: infinite; 
  animation-timing-function: linear ; */
}
.products_Servicesgroup__ARNrS .products_Services__rVMJ_ .products_Servicestext__y33i2 img {
  margin-right: 150px;
  width: 630px;
}
.products_Servicesgroup__ARNrS .products_Services__rVMJ_ .products_Servicestext__y33i2 .products_Servicestextgroup__T4Nn8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.products_Servicesgroup__ARNrS .products_Services__rVMJ_ .products_Servicestext__y33i2 .products_Servicestextgroup__T4Nn8 h3 {
  font-size: 32px;
  margin-bottom: 10px;
}
.products_Servicesgroup__ARNrS .products_Services__rVMJ_ .products_Servicestext__y33i2 .products_Servicestextgroup__T4Nn8 .products_Servicestxt__rpOKs {
  font-size: 17px;
}

.products_dashboardmain__C6h6I {
  background-color: #225378;
}
.products_dashboardmain__C6h6I .products_dashboardgroup___9sMw {
  color: white;
  align-items: center;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.products_dashboardmain__C6h6I .products_dashboardgroup___9sMw .products_spantxt__wGRzv {
  margin-bottom: 20px;
}
.products_dashboardmain__C6h6I .products_dashboardgroup___9sMw .products_dashboardgroupimg__HniUz {
  padding: 100px;
  display: flex;
  margin: 2px 170px 150px;
  flex-direction: column;
}
.products_dashboardmain__C6h6I .products_dashboardgroup___9sMw .products_dashboardgroupimg__HniUz img {
  position: absolute;
  margin-right: 200px;
  width: 610px;
  left: 10%;
  bottom: -177%;
}
.products_dashboardmain__C6h6I .products_dashboardgroup___9sMw .products_dashboardgroupimg__HniUz .products_dashboardtxtgroup__Xa3eP {
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
}
.products_dashboardmain__C6h6I .products_dashboardgroup___9sMw .products_dashboardgroupimg__HniUz .products_dashboardtxtgroup__Xa3eP .products_dashboardflex__whdLC {
  list-style: circle;
}
.products_dashboardmain__C6h6I .products_dashboardgroup___9sMw .products_dashboardgroupimg__HniUz .products_dashboardtxtgroup__Xa3eP .products_dashboardflex__whdLC .products_dashboardtxtmain__bueFm {
  font-size: 28px;
  text-align: left;
}
.products_dashboardmain__C6h6I .products_dashboardgroup___9sMw .products_dashboardgroupimg__HniUz .products_line__KJKl3 {
  border-bottom: 1px solid white;
  margin: 30px 0;
}

.products_contact__xAYEt {
  width: 100%;
  margin-bottom: 50px;
}
.products_contact__xAYEt .products_contactimg__547wz {
  color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  width: 100%;
}
.products_contact__xAYEt .products_contacttitle__QabAu {
  position: absolute;
  text-align: center;
  left: 25%;
  top: 355%;
  color: white;
}
.products_contact__xAYEt .products_contacttitle__QabAu b {
  font-size: 32px;
}
.products_contact__xAYEt .products_contacttitle__QabAu .products_contacttxt__oGRL1 {
  font-size: 17px;
  margin-bottom: 30px;
}
.products_contact__xAYEt .products_contacttitle__QabAu .products_contactPost__w1S4G .products_contactMail__Q3xEk {
  width: 40%;
  font-size: 17px;
  border: 0px;
  padding: 15px;
  border-radius: 5px 0 0 5px;
}
.products_contact__xAYEt .products_contacttitle__QabAu .products_contactPost__w1S4G .products_contactSubmit__7cPsJ {
  font-size: 17px;
  width: 20%;
  border: 0px;
  padding: 15px;
  border-radius: 0 5px 5px 0;
  background-color: #1C9AEA;
  color: white;
}

@media (max-width: 380px) {
  .products_Servicesgroup__ARNrS {
    background-color: #DEE5EB;
    padding: 7px;
    align-items: center;
    overflow: hidden;
  }
  .products_Servicesgroup__ARNrS .products_Services__rVMJ_ {
    padding: 0px;
    display: flex;
    margin: 0px;
    flex-direction: column;
  }
  .products_Servicesgroup__ARNrS .products_Services__rVMJ_ .products_Servicestext__y33i2 {
    display: block;
    width: 100%;
  }
  .products_Servicesgroup__ARNrS .products_Services__rVMJ_ .products_Servicestext__y33i2 img {
    margin-top: 35px;
    width: 365px;
    height: 270px;
  }
  .products_Servicesgroup__ARNrS .products_Services__rVMJ_ .products_Servicestext__y33i2 .products_Servicestextgroup__T4Nn8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .products_Servicesgroup__ARNrS .products_Services__rVMJ_ .products_Servicestext__y33i2 .products_Servicestextgroup__T4Nn8 h3 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .products_Servicesgroup__ARNrS .products_Services__rVMJ_ .products_Servicestext__y33i2 .products_Servicestextgroup__T4Nn8 .products_Servicestxt__rpOKs {
    font-size: 17px;
  }
  @keyframes products_Services__rVMJ_ { /* 애니메이션은 @keyframes랑 묶음 */
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .products_dashboardmain__C6h6I {
    background-color: #225378;
  }
  .products_dashboardmain__C6h6I .products_dashboardgroup___9sMw {
    color: white;
    align-items: center;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .products_dashboardmain__C6h6I .products_dashboardgroup___9sMw .products_spantxt__wGRzv {
    margin-bottom: 20px;
  }
  .products_dashboardmain__C6h6I .products_dashboardgroup___9sMw .products_dashboardgroupimg__HniUz {
    padding: 15px;
    display: flex;
    margin: 275px 0px 0px;
    flex-direction: column;
  }
  .products_dashboardmain__C6h6I .products_dashboardgroup___9sMw .products_dashboardgroupimg__HniUz img {
    position: absolute;
    margin-right: 200px;
    width: 350px;
    left: 4%;
    bottom: -197%;
  }
  .products_dashboardmain__C6h6I .products_dashboardgroup___9sMw .products_dashboardgroupimg__HniUz .products_dashboardtxtgroup__Xa3eP {
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    list-style: circle;
  }
  .products_dashboardmain__C6h6I .products_dashboardgroup___9sMw .products_dashboardgroupimg__HniUz .products_dashboardtxtgroup__Xa3eP .products_dashboardflex__whdLC {
    list-style: circle;
  }
  .products_dashboardmain__C6h6I .products_dashboardgroup___9sMw .products_dashboardgroupimg__HniUz .products_dashboardtxtgroup__Xa3eP .products_dashboardflex__whdLC .products_dashboardtxtmain__bueFm {
    font-size: 21px;
  }
  .products_dashboardmain__C6h6I .products_dashboardgroup___9sMw .products_dashboardgroupimg__HniUz .products_dashboardtxtgroup__Xa3eP .products_dashboardflex__whdLC .products_dashboardtxt__rMZct {
    font-size: 14px;
  }
  .products_dashboardmain__C6h6I .products_dashboardgroup___9sMw .products_dashboardgroupimg__HniUz .products_line__KJKl3 {
    border-bottom: 1px solid white;
    margin: 15px 0;
  }
  .products_contact__xAYEt {
    margin-bottom: 0;
  }
  .products_contact__xAYEt .products_contactimg__547wz {
    height: 375px;
  }
  .products_contact__xAYEt .products_contacttitle__QabAu {
    position: absolute;
    text-align: center;
    left: 0%;
    top: 355%;
    color: white;
    margin: 20px;
  }
  .products_contact__xAYEt .products_contacttitle__QabAu b {
    font-size: 24px;
  }
  .products_contact__xAYEt .products_contacttitle__QabAu .products_contacttxt__oGRL1 {
    font-size: 17px;
  }
  .products_contact__xAYEt .products_contacttitle__QabAu .products_contactPost__w1S4G {
    display: flex;
    flex-direction: column;
  }
  .products_contact__xAYEt .products_contacttitle__QabAu .products_contactPost__w1S4G .products_contactMail__Q3xEk {
    width: 90%;
    margin-bottom: 20px;
  }
  .products_contact__xAYEt .products_contacttitle__QabAu .products_contactPost__w1S4G .products_contactSubmit__7cPsJ {
    width: 100%;
  }
}
