/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./app/pages/header/header.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header_header__TgNnR {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_header__TgNnR .header_menu__Kfr_L a {
  text-decoration: none;
  color: black;
  margin-right: 15px;
}
.header_header__TgNnR .header_menu__Kfr_L > :nth-child(7) {
  border-radius: 5px;
  padding: 12px 25px;
  background-color: #1C9AEA;
  color: white;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./app/pages/footer/footer.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.footer_footer__oBz2j {
  margin-left: 70px;
}
.footer_footer__oBz2j .footer_logogroup__53FSy {
  display: flex;
  justify-content: space-between;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_logo__vhVIH {
  margin-bottom: 10px;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_logo__vhVIH img {
  margin-bottom: 15px;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_logo__vhVIH .footer_sns__rfN2V img {
  margin-right: 30px;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq {
  display: flex;
  justify-content: flex-end;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footermenu__lyss0 {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footermenu__lyss0 b {
  margin-bottom: 10px;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footermenu__lyss0 a {
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c {
  text-decoration: none;
  list-style: none;
  color: #9BD2F5;
  transition: 2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footertop__nAQfC {
  transform: rotateX(360deg) rotateZ(270deg);
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footertop__nAQfC .footer_footerstraight__RILJE {
  transform: rotateZ(90deg);
  color: #9BD2F5;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footerup__OfkvD {
  writing-mode: vertical-rl;
  transform: rotateZ(180deg);
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./app/pages/products/products.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
.products_Servicesgroup__ARNrS {
  background-color: #DEE5EB;
  display: flex;
  justify-content: flex-start;
  padding: 70px;
  align-items: center;
  overflow: hidden;
}
.products_Servicesgroup__ARNrS .products_Services__rVMJ_ {
  padding: 100px;
  display: flex;
  margin-right: 310px;
  flex-direction: column;
}
.products_Servicesgroup__ARNrS .products_Services__rVMJ_ .products_Servicestext__y33i2 {
  display: flex;
  width: 100%;
  white-space: nowrap; /* 강제로 한줄 처리 명령어 */
  animation-name: products_Services__rVMJ_;
  animation-duration: 10s;
  animation-iteration-count: infinite; /* infinite=무한반복 */
  animation-timing-function: linear;
}
.products_Servicesgroup__ARNrS .products_Services__rVMJ_ .products_Servicestext__y33i2 img {
  margin-right: 150px;
  width: 630px;
}
.products_Servicesgroup__ARNrS .products_Services__rVMJ_ .products_Servicestext__y33i2 .products_Servicestextgroup__T4Nn8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.products_Servicesgroup__ARNrS .products_Services__rVMJ_ .products_Servicestext__y33i2 .products_Servicestextgroup__T4Nn8 h3 {
  font-size: 32px;
  margin-bottom: 10px;
}
.products_Servicesgroup__ARNrS .products_Services__rVMJ_ .products_Servicestext__y33i2 .products_Servicestextgroup__T4Nn8 .products_Servicestxt__rpOKs {
  font-size: 17px;
}
@keyframes products_Services__rVMJ_ { /* 애니메이션은 @keyframes랑 묶음 */
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.products_dashboardmain__C6h6I {
  background-color: #225378;
}
.products_dashboardmain__C6h6I .products_dashboardgroup___9sMw {
  color: white;
  align-items: center;
  overflow: hidden;
}
.products_dashboardmain__C6h6I .products_dashboardgroup___9sMw .products_dashboardgroupimg__HniUz {
  padding: 100px;
  display: flex;
  margin-right: 170px;
  flex-direction: column;
}
.products_dashboardmain__C6h6I .products_dashboardgroup___9sMw .products_dashboardgroupimg__HniUz img {
  position: absolute;
  margin-right: 200px;
  width: 610px;
  left: 10%;
  top: 107%;
}
.products_dashboardmain__C6h6I .products_dashboardgroup___9sMw .products_dashboardgroupimg__HniUz .products_dashboardtxtgroup__Xa3eP {
  display: flex;
  justify-content: flex-end;
}
.products_dashboardmain__C6h6I .products_dashboardgroup___9sMw .products_dashboardgroupimg__HniUz .products_dashboardtxtgroup__Xa3eP .products_dashboardflex__whdLC {
  list-style: circle;
}
.products_dashboardmain__C6h6I .products_dashboardgroup___9sMw .products_dashboardgroupimg__HniUz .products_dashboardtxtgroup__Xa3eP .products_dashboardflex__whdLC .products_dashboardtxtmain__bueFm {
  font-size: 28px;
  text-align: left;
  list-style: circle;
}
.products_dashboardmain__C6h6I .products_dashboardgroup___9sMw .products_dashboardgroupimg__HniUz .products_line__KJKl3 {
  border-bottom: 1px solid white;
  margin: 30px 0;
}

.products_contact__xAYEt {
  width: 100%;
  margin-bottom: 50px;
}
.products_contact__xAYEt .products_contactimg__547wz {
  color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  width: 100%;
}
.products_contact__xAYEt .products_contacttitle__QabAu {
  position: absolute;
  text-align: center;
  left: 25%;
  top: 210%;
  color: white;
}
.products_contact__xAYEt .products_contacttitle__QabAu b {
  font-size: 32px;
}
.products_contact__xAYEt .products_contacttitle__QabAu .products_contacttxt__oGRL1 {
  font-size: 17px;
  margin-bottom: 30px;
}
.products_contact__xAYEt .products_contacttitle__QabAu .products_contactPost__w1S4G .products_contactMail__Q3xEk {
  width: 40%;
  font-size: 17px;
  border: 0px;
  padding: 15px;
  border-radius: 5px 0 0 5px;
}
.products_contact__xAYEt .products_contacttitle__QabAu .products_contactPost__w1S4G .products_contactSubmit__7cPsJ {
  font-size: 17px;
  width: 20%;
  border: 0px;
  padding: 15px;
  border-radius: 0 5px 5px 0;
  background-color: #1C9AEA;
  color: white;
}
