/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./app/pages/loading/loading.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.loading_loading_section__x6aJW {
  height: 100vh;
  background-color: #E1F1FC;
}
.loading_loading_section__x6aJW .loading_loading_animation__VCnyF {
  width: 50%;
  height: 100vh;
  display: block;
  margin: 0 auto;
}
.loading_loading_section__x6aJW .loading_loading_animation__VCnyF .loading_circle1___PnDe {
  fill: none;
  stroke: #225378;
  stroke-width: 40;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-linecap: round;
  animation: loading_draw1__BcBBb 3s linear infinite;
}
@keyframes loading_draw1__BcBBb {
  0% {
    stroke-dashoffset: 1000;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -1000;
  }
}
.loading_loading_section__x6aJW .loading_loading_animation__VCnyF .loading_circle2__fKCaa {
  fill: none;
  stroke: #225378;
  stroke-width: 40;
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  stroke-linecap: round;
  animation: loading_draw2__3jBKg 2.5s linear infinite;
}
@keyframes loading_draw2__3jBKg {
  0% {
    stroke-dashoffset: -650;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 650;
  }
}
.loading_loading_section__x6aJW .loading_loading_animation__VCnyF .loading_circle3__wie_V {
  fill: none;
  stroke: #225378;
  stroke-width: 40;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-linecap: round;
  animation: loading_draw3__vhZN_ 2s linear infinite;
}
@keyframes loading_draw3__vhZN_ {
  0% {
    stroke-dashoffset: 500;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -500;
  }
}
.loading_loading_section__x6aJW .loading_loading_animation2__LTB2h {
  display: none;
}

@media (max-width: 380px) {
  .loading_loading_section__x6aJW .loading_loading_animation__VCnyF {
    display: none;
  }
  .loading_loading_section__x6aJW .loading_loading_animation2__LTB2h {
    width: 100%;
    height: 100vh;
    display: block;
    margin: 0 auto;
  }
  .loading_loading_section__x6aJW .loading_loading_animation2__LTB2h .loading_circle1___PnDe {
    fill: none;
    stroke: #225378;
    stroke-width: 27;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke-linecap: round;
    animation: loading_draw1__BcBBb 3s linear infinite;
  }
  @keyframes loading_draw1__BcBBb {
    0% {
      stroke-dashoffset: 1000;
    }
    50% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: -1000;
    }
  }
  .loading_loading_section__x6aJW .loading_loading_animation2__LTB2h .loading_circle2__fKCaa {
    fill: none;
    stroke: #225378;
    stroke-width: 27;
    stroke-dasharray: 650;
    stroke-dashoffset: 650;
    stroke-linecap: round;
    animation: loading_draw2__3jBKg 2.5s linear infinite;
  }
  @keyframes loading_draw2__3jBKg {
    0% {
      stroke-dashoffset: -650;
    }
    50% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 650;
    }
  }
  .loading_loading_section__x6aJW .loading_loading_animation2__LTB2h .loading_circle3__wie_V {
    fill: none;
    stroke: #225378;
    stroke-width: 27;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-linecap: round;
    animation: loading_draw3__vhZN_ 2s linear infinite;
  }
  @keyframes loading_draw3__vhZN_ {
    0% {
      stroke-dashoffset: 500;
    }
    50% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: -500;
    }
  }
}
section .loading_pulsating_circle__efw7t {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100px;
  height: 100px;
}
section .loading_pulsating_circle__efw7t:before {
  content: "";
  position: relative;
  display: block;
  width: 300%;
  height: 300%;
  box-sizing: border-box;
  margin-left: -100%;
  margin-top: -100%;
  border-radius: 50%;
  background-color: #01a4e9;
  animation: loading_pulse-ring__wVRkC 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
section .loading_pulsating_circle__efw7t:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  animation: loading_pulse-dot__yoQ40 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}
@keyframes loading_pulse-ring__wVRkC {
  0% {
    transform: scale(0.33);
  }
  80%, 100% {
    opacity: 0;
  }
}
@keyframes loading_pulse-dot__yoQ40 {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./app/pages/header/header.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header_header__TgNnR {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_header__TgNnR .header_menu__Kfr_L {
  margin-left: 44%;
  display: flex;
  align-items: center;
}
.header_header__TgNnR .header_menu__Kfr_L a {
  text-decoration: none;
  color: black;
  margin: 0 15px 0px;
}
.header_header__TgNnR .header_menu__Kfr_L > :nth-child(7) {
  border-radius: 5px;
  padding: 12px 25px;
  background-color: #1C9AEA;
  color: white;
}
.header_header__TgNnR .header_menubar__XR9nI {
  display: none;
}
.header_header__TgNnR .header_menu1__Gtv0U {
  display: none;
}

.header_menuItem__p4Q4g {
  text-align: center;
  position: relative;
}
.header_menuItem__p4Q4g .header_subMenu__CVJCs {
  display: none;
  position: absolute;
  top: 100%;
  left: -100%;
  width: 300px;
  height: 150px;
  background-color: #efebeb;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px white;
  padding: 10px;
}
.header_menuItem__p4Q4g .header_subMenu__CVJCs a {
  color: rgb(4, 4, 4);
}
.header_menuItem__p4Q4g:hover .header_subMenu__CVJCs {
  display: block;
}

.header_menuOptionsOverlay__Dkvzv {
  display: none;
}

@media (max-width: 390px) {
  .header_header__TgNnR {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }
  .header_header__TgNnR .header_menu__Kfr_L {
    margin: 10px 25px;
  }
  .header_header__TgNnR .header_menu__Kfr_L a {
    display: none;
    text-decoration: none;
    color: black;
    margin-right: 15px;
  }
  .header_header__TgNnR .header_menu__Kfr_L > :nth-child(7) {
    border-radius: 5px;
    padding: 12px 25px;
    background-color: #1C9AEA;
    color: white;
  }
  .header_header__TgNnR .header_menubar__XR9nI {
    display: block;
    width: 45px;
    margin-right: 10px;
  }
  .header_header__TgNnR .header_menu1__Gtv0U {
    display: none;
  }
  .header_menuOptionsOverlay__Dkvzv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .header_menuOptions___JG3C {
    width: 100%;
    height: 100%;
    background: white;
    padding: 20px;
    border-radius: 10px;
  }
  .header_menuOptions___JG3C div {
    margin: 20px;
  }
  .header_menuOptions___JG3C > :nth-child(7) {
    width: 90%;
    background-color: #1C9AEA;
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin: 0px;
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./app/pages/footer/footer.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.footer_footer__oBz2j {
  margin-left: 70px;
}
.footer_footer__oBz2j .footer_logogroup__53FSy {
  display: flex;
  justify-content: space-between;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ {
  text-align: center;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ .footer_footermediaup__TuvXx {
  color: #9BD2F5;
  display: none;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ .footer_logo__vhVIH {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ .footer_logo__vhVIH img {
  margin: 0 35px 10px 0;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ .footer_logo__vhVIH .footer_sns__rfN2V img {
  margin-right: 30px;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq {
  display: flex;
  justify-content: flex-end;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footermenu__lyss0 {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footermenu__lyss0 b {
  margin-bottom: 10px;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footermenu__lyss0 a {
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c {
  text-decoration: none;
  list-style: none;
  color: #9BD2F5;
  transition: 2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footertop__nAQfC {
  transform: rotateX(360deg) rotateZ(270deg);
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footertop__nAQfC .footer_footerstraight__RILJE {
  transform: rotateZ(90deg);
  color: #9BD2F5;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footerup__OfkvD {
  writing-mode: vertical-rl;
  transform: rotateZ(180deg);
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footermediaup__TuvXx {
  display: none;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footerfooteraccodian__dtLv_ {
  display: none;
}

@media (max-width: 390px) {
  .footer_footer__oBz2j {
    margin-left: 20px;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ {
    text-align: center;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ .footer_footermediaup__TuvXx {
    display: block;
    color: #9BD2F5;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ .footer_logo__vhVIH {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ .footer_logo__vhVIH img {
    margin: 0 35px 10px 0;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_topbtngroup__Uwzk_ .footer_logo__vhVIH .footer_sns__rfN2V img {
    margin-right: 30px;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq {
    display: none;
    justify-content: flex-end;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footermenu__lyss0 {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footermenu__lyss0 b {
    margin-bottom: 10px;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footermenu__lyss0 a {
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footertop__nAQfC {
    display: none;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footerup__OfkvD {
    display: none;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footermediaup__TuvXx {
    display: flex;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footerfooteraccodian__dtLv_ {
    display: flex;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footerfooteraccodian__dtLv_ .footer_footeraccodiangroup__PLbva .footer_footeraccodiantitle__yW9QA {
    font-weight: bold;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footerfooteraccodian__dtLv_ .footer_footeraccodiangroup__PLbva span {
    display: flex;
  }
  .footer_footer__oBz2j .footer_logogroup__53FSy .footer_footerfooteraccodian__dtLv_ .footer_footeraccodiangroup__PLbva span a {
    margin-right: 20px;
  }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./app/pages/customer/customer.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
.customer_customer_section__e3NTw .customer_customer1__TsHUV {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.customer_customer_section__e3NTw .customer_customer1__TsHUV h3 {
  font-size: 32px;
  color: #202D3F;
  margin: 0;
}
.customer_customer_section__e3NTw .customer_customer1__TsHUV p {
  width: 45%;
  font-size: 17px;
  color: #B9BDC3;
}
.customer_customer_section__e3NTw .customer_ani__7vwYh {
  overflow: hidden;
}
.customer_customer_section__e3NTw .customer_ani__7vwYh .customer_aniimg__TkR6s {
  display: flex;
  gap: 40px;
  white-space: nowrap; /* 강제로 한줄 처리 명령어 */
  animation-name: customer_aniimg__TkR6s;
  animation-duration: 5s;
  animation-iteration-count: infinite; /* infinite=무한반복 */
  animation-timing-function: ease-in-out;
}
.customer_customer_section__e3NTw .customer_ani__7vwYh .customer_aniimg__TkR6s img {
  width: 10%;
}
@keyframes customer_aniimg__TkR6s {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-40%);
  }
}
.customer_customer_section__e3NTw .customer_ani__7vwYh .customer_aniimg__TkR6s:hover {
  animation-play-state: paused;
}
.customer_customer_section__e3NTw .customer_customer2__uXp02 {
  width: 95%;
  margin: 0 auto;
}
.customer_customer_section__e3NTw .customer_customer2__uXp02 .customer_numbox__DdBFE {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
}
.customer_customer_section__e3NTw .customer_customer2__uXp02 .customer_numbox__DdBFE li {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px #f2efef;
  border-radius: 10px;
  text-align: center;
  padding: 10px 16px;
}
.customer_customer_section__e3NTw .customer_customer2__uXp02 .customer_numbox__DdBFE li img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.customer_customer_section__e3NTw .customer_customer2__uXp02 .customer_numbox__DdBFE li span {
  display: block;
  font-size: 17px;
  color: #202D3F;
}
.customer_customer_section__e3NTw .customer_customer2__uXp02 .customer_numbox__DdBFE li > p {
  position: relative;
  font-size: 14px;
  color: #B2B7BD;
}
.customer_customer_section__e3NTw .customer_customer2__uXp02 .customer_numbox__DdBFE li > p::before {
  position: absolute;
  top: -18px;
  left: -5px;
  display: block;
  content: url(/_next/static/media/“.10069ef5.png);
}
.customer_customer_section__e3NTw .customer_customer2__uXp02 .customer_numbox__DdBFE li .customer_star__4BT8u {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
}
.customer_customer_section__e3NTw .customer_customer2__uXp02 .customer_numbox__DdBFE li .customer_star__4BT8u img {
  height: 20px;
}
.customer_customer_section__e3NTw .customer_customer2__uXp02 .customer_numbox__DdBFE .customer_num1__EzlCE {
  width: 350px;
  height: 240px;
}
.customer_customer_section__e3NTw .customer_customer2__uXp02 .customer_numbox__DdBFE .customer_num2__lxYKr {
  width: 220px;
  height: 288px;
}
.customer_customer_section__e3NTw .customer_customer2__uXp02 .customer_numbox__DdBFE .customer_num3__uXQM_ {
  width: 502px;
  height: 240px;
}

.customer_contact__FYIDZ {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}
.customer_contact__FYIDZ .customer_contactimg__VuJ7h {
  color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  width: 100%;
}
.customer_contact__FYIDZ .customer_contacttitle__aQ3yr {
  position: absolute;
  text-align: center;
  top: 70%;
  left: 20%;
  color: white;
}
.customer_contact__FYIDZ .customer_contacttitle__aQ3yr b {
  font-size: 32px;
}
.customer_contact__FYIDZ .customer_contacttitle__aQ3yr .customer_contacttxt__kJ1uR {
  font-size: 17px;
  margin-bottom: 30px;
}
.customer_contact__FYIDZ .customer_contacttitle__aQ3yr .customer_contactPost__1nftR .customer_contactMail__hbGSi {
  width: 40%;
  font-size: 17px;
  border: 0px;
  padding: 15px;
  border-radius: 5px 0 0 5px;
}
.customer_contact__FYIDZ .customer_contacttitle__aQ3yr .customer_contactPost__1nftR .customer_contactSubmit__zFopL {
  font-size: 17px;
  width: 20%;
  border: 0px;
  padding: 15px;
  border-radius: 0 5px 5px 0;
  background-color: #1C9AEA;
  color: white;
}

@media (max-width: 380px) {
  .customer_customer_section__e3NTw {
    width: 95%;
    margin: 0 auto;
  }
  .customer_customer_section__e3NTw .customer_customer1__TsHUV h3 {
    font-size: 24px;
  }
  .customer_customer_section__e3NTw .customer_customer1__TsHUV p {
    width: 95%;
    font-size: 14px;
  }
  .customer_customer_section__e3NTw .customer_ani__7vwYh .customer_aniimg__TkR6s img {
    width: 100%;
  }
  .customer_customer_section__e3NTw .customer_customer2__uXp02 .customer_numbox__DdBFE li:nth-of-type(n+1) {
    width: 35%;
    height: auto;
  }
  .customer_customer_section__e3NTw .customer_customer2__uXp02 .customer_numbox__DdBFE li:nth-of-type(3n) {
    width: 95%;
  }
  .customer_contact__FYIDZ {
    margin-bottom: 0;
  }
  .customer_contact__FYIDZ .customer_contactimg__VuJ7h {
    height: 375px;
  }
  .customer_contact__FYIDZ .customer_contacttitle__aQ3yr {
    position: absolute;
    text-align: center;
    left: 0%;
    top: 15%;
    color: white;
    margin: 20px;
  }
  .customer_contact__FYIDZ .customer_contacttitle__aQ3yr b {
    font-size: 24px;
  }
  .customer_contact__FYIDZ .customer_contacttitle__aQ3yr .customer_contacttxt__kJ1uR {
    font-size: 17px;
  }
  .customer_contact__FYIDZ .customer_contacttitle__aQ3yr .customer_contactPost__1nftR {
    display: flex;
    flex-direction: column;
  }
  .customer_contact__FYIDZ .customer_contacttitle__aQ3yr .customer_contactPost__1nftR .customer_contactMail__hbGSi {
    width: 90%;
    margin-bottom: 20px;
  }
  .customer_contact__FYIDZ .customer_contacttitle__aQ3yr .customer_contactPost__1nftR .customer_contactSubmit__zFopL {
    width: 100%;
  }
}
