/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./app/pages/header/header.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header_header__TgNnR {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_header__TgNnR .header_menu__Kfr_L a {
  text-decoration: none;
  color: black;
  margin-right: 15px;
}
.header_header__TgNnR .header_menu__Kfr_L > :nth-child(7) {
  border-radius: 5px;
  padding: 12px 25px;
  background-color: #1C9AEA;
  color: white;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./app/pages/footer/footer.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.footer_footer__oBz2j {
  margin-left: 70px;
}
.footer_footer__oBz2j .footer_logogroup__53FSy {
  display: flex;
  justify-content: space-between;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_logo__vhVIH {
  margin-bottom: 10px;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_logo__vhVIH img {
  margin-bottom: 15px;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_logo__vhVIH .footer_sns__rfN2V img {
  margin-right: 30px;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq {
  display: flex;
  justify-content: flex-end;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footermenu__lyss0 {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footermenu__lyss0 b {
  margin-bottom: 10px;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footermenu__lyss0 a {
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c {
  text-decoration: none;
  list-style: none;
  color: #9BD2F5;
  transition: 2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footertop__nAQfC {
  transform: rotateX(360deg) rotateZ(270deg);
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footertop__nAQfC .footer_footerstraight__RILJE {
  transform: rotateZ(90deg);
  color: #9BD2F5;
}
.footer_footer__oBz2j .footer_logogroup__53FSy .footer_footermenugroup__8Gmyq .footer_footertopLink___830c .footer_footerup__OfkvD {
  writing-mode: vertical-rl;
  transform: rotateZ(180deg);
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./app/pages/blogs/blogs.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.blogs_blogs_section__kF8TT {
  margin: 0 auto;
}
.blogs_blogs_section__kF8TT .blogs_blogs_top__8hL5x {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blogs_blogs_section__kF8TT .blogs_blogs_top__8hL5x h3 {
  font-size: 32px;
}
.blogs_blogs_section__kF8TT .blogs_blogs_top__8hL5x label {
  display: flex;
  background-color: #E9EAEC;
  border-radius: 2px;
  width: 500px;
  padding: 14px 16px;
  gap: 10px;
}
.blogs_blogs_section__kF8TT .blogs_blogs_top__8hL5x label input {
  width: 100%;
  background-color: #E9EAEC;
  border: 0;
}
.blogs_blogs_section__kF8TT .blogs_blogs_top__8hL5x label input:focus {
  outline: none;
}
.blogs_blogs_section__kF8TT .blogs_blogs_top__8hL5x label input:focus::placeholder {
  color: transparent;
}
.blogs_blogs_section__kF8TT .blogs_featured__ExdLe .blogs_featured_flex1__AEa15 {
  display: flex;
  flex-direction: column;
}
.blogs_blogs_section__kF8TT .blogs_featured__ExdLe .blogs_featured_flex1__AEa15 .blogs_first_div__WQ20W {
  padding: 0 24px;
  display: flex;
}
.blogs_blogs_section__kF8TT .blogs_featured__ExdLe .blogs_featured_flex1__AEa15 .blogs_second_div__nXa53 {
  display: flex;
  padding: 24px;
  gap: 24px;
}
.blogs_blogs_section__kF8TT .blogs_featured__ExdLe .blogs_featured_flex1__AEa15 .blogs_second_div__nXa53 .blogs_contets_div__10f8Q div .blogs_state__tLYpb {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  color: #5FB8F0;
}
.blogs_blogs_section__kF8TT .blogs_featured__ExdLe .blogs_featured_flex1__AEa15 .blogs_second_div__nXa53 .blogs_contets_div__10f8Q div .blogs_state__tLYpb span {
  color: #B9BDC3;
}
.blogs_blogs_section__kF8TT .blogs_featured__ExdLe .blogs_featured_flex1__AEa15 .blogs_second_div__nXa53 .blogs_contets_div__10f8Q div p {
  color: #B9BDC3;
}
.blogs_blogs_section__kF8TT .blogs_featured__ExdLe .blogs_featured_flex1__AEa15 .blogs_second_div__nXa53 .blogs_contets_div__10f8Q .blogs_writer__0jhr1 {
  display: flex;
  align-items: center;
  gap: 140px;
}
.blogs_blogs_section__kF8TT .blogs_featured__ExdLe .blogs_featured_flex1__AEa15 .blogs_second_div__nXa53 .blogs_contets_div__10f8Q .blogs_writer__0jhr1 figure {
  margin: 0;
}
.blogs_blogs_section__kF8TT .blogs_menu__hm3o0 nav a {
  padding: 10px 16px;
  font-size: 24px;
  cursor: pointer;
}
.blogs_blogs_section__kF8TT .blogs_menu__hm3o0 .blogs_show_nav__8KMgk {
  padding: 40px 0px;
}
.blogs_blogs_section__kF8TT .blogs_menu__hm3o0 .blogs_show_nav__8KMgk .blogs_nav_all__J6lK5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 60px;
}
.blogs_blogs_section__kF8TT .blogs_menu__hm3o0 .blogs_show_nav__8KMgk .blogs_nav_all__J6lK5 li {
  padding: 16px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 4 0.1 white;
}
.blogs_blogs_section__kF8TT .blogs_menu__hm3o0 .blogs_show_nav__8KMgk .blogs_nav_all__J6lK5 li img {
  width: 100%;
}
.blogs_blogs_section__kF8TT .blogs_menu__hm3o0 .blogs_show_nav__8KMgk .blogs_nav_all__J6lK5 li .blogs_state__tLYpb {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  color: #5FB8F0;
}
.blogs_blogs_section__kF8TT .blogs_menu__hm3o0 .blogs_show_nav__8KMgk .blogs_nav_all__J6lK5 li .blogs_state__tLYpb span {
  color: #B9BDC3;
}
.blogs_blogs_section__kF8TT .blogs_menu__hm3o0 .blogs_show_nav__8KMgk .blogs_nav_all__J6lK5 li .blogs_title__cCquA {
  color: #202D3F;
}
.blogs_blogs_section__kF8TT .blogs_menu__hm3o0 .blogs_show_nav__8KMgk .blogs_nav_all__J6lK5 li > p {
  color: #B9BDC3;
}
.blogs_blogs_section__kF8TT .blogs_menu__hm3o0 .blogs_show_nav__8KMgk .blogs_nav_all__J6lK5 li .blogs_writer__0jhr1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blogs_blogs_section__kF8TT .blogs_menu__hm3o0 .blogs_show_nav__8KMgk .blogs_nav_all__J6lK5 li .blogs_writer__0jhr1 figure {
  display: flex;
  align-items: center;
  margin: 0;
}
.blogs_blogs_section__kF8TT .blogs_menu__hm3o0 .blogs_show_nav__8KMgk .blogs_nav_all__J6lK5 li .blogs_writer__0jhr1 figure > img {
  width: 40%;
}
.blogs_blogs_section__kF8TT .blogs_menu__hm3o0 .blogs_show_nav__8KMgk .blogs_nav_all__J6lK5 li .blogs_writer__0jhr1 figure span {
  width: 80%;
  margin-left: 12px;
}
